{% extends 'base.html.twig' %}

{% block body %}
    <div id="page">
		Votants : {{participants_count_voted}}/{{participants_count}} <br/>
		{% if is_closed %}
			{{ include( 'frame_result.html.twig' ) }}
		{% else %}
			{{  include( 'frame_vote.html.twig' ) }}
			{% if is_admin %}
				{{ include( 'frame_admin.html.twig' ) }}
			{% endif %}
		{% endif %}
		
    </div>
{% endblock %}

{% block stylesheets %}
<style>
</style>
{% endblock %}
