<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        {% block stylesheets %}{% endblock %}
        {% stylesheets '@bootstrap_css' %}
            <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
        {% endstylesheets %}
        {% stylesheets '@bootstrap_theme_css' %}
            <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
        {% endstylesheets %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% javascripts '@jquery' %}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
        {% javascripts '@bootstrap_js' %}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
